@font-face {
 font-family: 'Yandex font';
 src: url('https://yastatic.net/s3/home/fonts/ys/4/text-black.woff') format('woff');
 font-weight: 900;
 font-style: normal;
}

@font-face {
 font-family: 'Yandex font';
 src: url('https://yastatic.net/s3/home/fonts/ys/4/text-medium.woff') format('woff');
 font-weight: 500;
 font-style: normal;
}

@font-face {
 font-family: 'Yandex font';
 src: url('https://yastatic.net/s3/home/fonts/ys/4/text-regular.woff') format('woff');
 font-weight: 400;
 font-style: normal;
}




* {
 max-width: 1440px;
 width: 100%;
 margin: 0 auto;
}


body::-webkit-scrollbar {
 background: pink;
}

body::-webkit-scrollbar-thumb {
 background: #fe019a;
}


.header_container,
.main_container {
 width: 1200px;
 display: flex;
 flex-direction: row-reverse;
 padding-top: 125px;

}

/* @media (max-width: 1440px) { */
.header {
 background: linear-gradient(90deg, rgba(255, 92, 77, 0.2), rgba(235, 70, 159, 0.2), rgba(131, 65, 239, 0.2), rgba(63, 104, 249, 0.2)),
  linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
 width: 100%;
 /* height: 804px; */
 position: relative;
 z-index: 3;
}

.header_logo_ya {
 text-align: right;
}

.header_bycicle {
 /* сделать красивый код*/
 width: 744px;
 height: 618px;
 position: absolute;
 right: 177px;
 margin: 0;
 top: 95px;
 z-index: 1;
 left: 354px;
}

.header_yandex {
 /* padding-left: 262px; */
 position: relative;
 z-index: 1;
}

.yandex_logo {
 width: 176px;
 height: 50px;
}

.head_header {
 width: 60%;
 font-family: YS Text;
 font-weight: bold;
 font-size: 72px;

 letter-spacing: -0.02em;
 margin: 0;
 color: rgba(33, 32, 31, 1);
 margin-bottom: 48px;
 margin-top: 72px;
}

.header_text {
 width: 395px;
 color: #21201F;
 font-family: YS Text;
 font-size: 24px;
 font-style: normal;
 font-weight: bold;

 margin: 0;
}

.new_price {
 border-radius: 50px;
 background: radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
 padding: 8px 12px;
 position: relative;
 z-index: 4;

}

.old_price {
 display: inline-flex;
 width: 115px;
 top: -2px;
 border-radius: 500px;
 padding: 5px 12px;
 line-height: 26px;
 background: linear-gradient(251deg, rgba(255, 255, 255, 0.63) 0%, rgba(255, 255, 255, 0.63) 100%), radial-gradient(141.42% 141.42% at 100% 0%, #E0B8FF 0%, #B6B9FF 100%);
 position: relative;
 z-index: 2;
 justify-content: flex-end;
 right: 69px;
 color: #808080;
 font-family: YS Text;
 font-size: 16px;
 font-style: normal;
 font-weight: 500;

}

.header_btn {
 margin-top: 45px;
 border-radius: 36px;
 background: #FFDE40;
 box-shadow: 0px 4px 98px 0px rgba(255, 222, 64, 0.59);
 color: rgba(33, 32, 31, 1);
 width: 318px;
 height: 65px;
 padding: 24px, 48px;
 border-radius: 36px;
 border: none;
 cursor: pointer;
 margin-bottom: 125px;
}

/* .main {
 margin: 0 auto;
} */

.main_container,
.main_exclusive {
 padding: 0;
 display: flex;
 flex-direction: column;
 align-content: space-between;
 flex-wrap: wrap;
 margin-left: 161px;
}

.main_header {
 width: 539px;
 color: #21201F;
 font-family: YS Text;
 font-size: 56px;
 letter-spacing: -1.12px;
 margin: 0;
}

.main_advantages {
 width: 80%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-between;
 flex-direction: row;
}

.advantages_items {
 width: 362px;
 margin: 0;
}

.advantages {
 margin-top: 48px;
 width: 83px;
 height: 83px;
 margin-bottom: 16px;
}

.advantages_text {
 color: rgba(33, 32, 31, 1);
 font-family: YS Text;
 font-size: 24px;
 font-style: normal;
 font-weight: 800;
 line-height: 120%;
 letter-spacing: 0px;
 text-align: left;
}

.main_exclusive {
 width: 500px;
 margin-top: 128px;
}

.exclusive_header {
 color: #21201F;
 font-family: YS Text;
 font-size: 48px;
 font-style: normal;
 font-weight: 900;

 letter-spacing: -0.96px;
 margin-bottom: 48px;
}

.exclusive_text {
 color: #21201F;
 font-family: YS Text;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;

}

.main_collage {
 width: 1200px;
 display: flex;
 align-items: flex-start;
 flex-direction: row;

}

.collage_1-3 {
 width: 450px;
 margin-left: 0;
 margin-top: 71px;
 display: flex;
 transform: rotate(2deg);
 flex-direction: column;
 margin-right: 15px;
}

.collage-1 {
 margin: 0;
 width: 450px;
 border-radius: 100px;
}

.collage_2-4 {

 display: flex;
 transform: rotate(2deg);
 flex-direction: column;
 margin: 0;
 margin-right: 271px;
 position: relative;
 bottom: 125px;
}

.collage-2 {
 width: 450px;
 margin: 0;
 border-radius: 100px;
}

.collage-1_position,
.collage-2_position,
.collage-3_position {
 position: absolute;
 top: -88px;
 left: -215px;
}

.collage-2_position {
 top: -23px;
 right: -612px;
 width: 153px;



}

.collage-3_position {
 top: 618px;
 right: -566px;
 width: 396px;
}

.buy_abbreviation {
 margin-top: 105px;
 width: 1200px;
 display: flex;
 height: 500px;
}

.buy_headers {
 display: flex;
 flex-direction: column;

}

.buy_header {
 width: 407px;
 color: #21201F;
 font-family: YS Text;
 font-size: 48px;
 font-style: normal;
 font-weight: 900;

 letter-spacing: -0.96px;
}

.buy_text {
 width: 419px;
 color: #21201F;
 font-family: YS Text;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;

 margin-top: 48px;
}

.buy_scooters {
 display: flex;
 flex-direction: column;
}

.buy_scooter {
 width: 743px;
 position: relative;
 bottom: 200px;

}

.buy_plus {
 width: 269px;
 position: relative;
 bottom: 726px;
 left: 87px;
 margin: 0;
}

.final_block {
 width: 1200px;
 display: flex;
}

.final_img {
 width: 100%;

}

.final_logo {
 width: 563px;
 position: relative;
 bottom: 90px;
}

.final_header {
 margin: 0;
 width: 382px;
 color: #21201F;
 font-family: YS Text;
 font-size: 48px;
 font-style: normal;
 font-weight: 900;

 margin-bottom: 48px;
 letter-spacing: -0.96px;
}

.final_text {
 margin: 0;
 width: 379px;
 color: #21201F;
 font-family: YS Text;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;

}

.header_btn {
 color: #21201F;
 font-family: YS Text;
 font-size: 24px;
 font-style: normal;
 font-weight: 500;


}

.footers {
 width: 821px;
}

.foo_text {
 color: #C5C5C5;
 font-family: YS Text;
 font-size: 13px;
 font-style: normal;
 font-weight: 400;

 text-decoration-line: underline;
 margin-bottom: 128px;
 text-decoration: none;
}

a {
 color: #C5C5C5;
}

.btn {
 text-decoration: none;
 color: #21201F;
}



@media (max-width:768px) {
 body {
  width: 100%;
  margin: 0 auto;

 }

 main {
  overflow-x: hidden;
  margin-left: 262px;
 }

 .header_container {
  /* width: 100%; */
  padding-left: 75px;


 }

 .head_header {
  box-sizing: border-box;
  width: 350px;
  overflow-y: hidden;

 }

 .header_yandex {
  padding: 0;
  width: 50%;
  z-index: 6;
 }

 .header_logo_ya {
  text-align: left;
  position: relative;
  z-index: 5;

 }

 .header_bycicle {
  width: 562px;
  position: relative;
  left: -150px;
  margin: 0;
  top: -16px;

 }

 .header {
  width: 1355px;
 }

 .main_collage {
  margin-left: 150px;
 }

 .buy_abbreviation {
  margin-left: 100px;
 }

 .main_container {
  margin-left: 75px;

 }


 .main_header {
  overflow-y: hidden;
 }

 .main_advantages {
  width: 61%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
 }

 .advantages_items {
  width: 40%;
  padding-right: 50px;
 }

 .main_exclusive {
  width: 500px;
  margin-left: 88px;

 }

 /* .main_container {} */

 .exclusive_header {
  overflow-y: hidden;
 }

 .main_collage {
  margin-left: 50px;
  display: flex;
  width: 85%;
  overflow-y: hidden;

 }

 .collage-1 {
  width: 310px;
 }

 .collage_1-3 {
  width: 308px;
 }

 .collage-1_position {
  width: 200px;
 }

 .collage-1_position,
 .collage-2_position,
 .collage-3_position {
  display: none;
 }

 .collage_2-4 {
  max-width: 307px;
  display: flex;
  transform: rotate(2deg);
  flex-direction: column;
  margin: 0;
  position: relative;
  top: 6px;
 }

 .collage-2 {
  width: 310px;
  margin: 0;
  border-radius: 100px;
 }

 .buy_header {
  line-height: normal;
  margin: 0;
 }

 .buy_scooter {
  width: 80%;
  position: relative;

  bottom: 120px;
  left: 262px;
 }

 .buy_scooters {
  display: flex;
  flex-direction: column;
  position: absolute;
 }

 .buy_headers {}

 .buy_plus {
  width: 30%;
  position: relative;
  bottom: 552px;
  left: 423px;
  margin: 0;
 }

 .buy_text {
  margin-left: 0;
 }

 .final_block {
  display: flex;
  flex-direction: column;
 }

 .final_headers {
  width: 80%;
 }

 .final_img {
  width: 90%;

 }

 .final_logo {
  width: 645px;

 }

 .final_header {
  line-height: normal;
 }

 .footers {
  margin-left: 262px;
 }

 .foo_text {
  width: 85%;

 }
}